{% extends 'base.html.twig' %}
{% set current_page = 'cart' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Mon panier</h1>

    {% if cart|length > 0 %}

            <table class="table mt-50 text-center">
                <thead>
                <tr class="action-2 f-20">
                    <th scope="col">Produit</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Total</th>
                    <th scope="col">Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% set total = null %}
                {% set totalQuantities = null %}
                {% for product in cart %}
                    <tr>
                        <th>
                            <img src="{{ asset('uploads/images/' ~ product.products.image) }}" alt="{{ product.products.name }}"
                                 height="100px"><br/>
                        </th>
                        <td class="align-middle f-20">
                            <a href="{{ path('decrease_cart', { 'id' : product.products.id }) }}">
                                <i class="fas fa-chevron-left action-1 f-18"></i>
                            </a>
                            <span class="d-inline-block px-2">{{ product.quantities }}</span>
                            <a href="{{ path('increase_cart', { 'id' : product.products.id }) }}">
                                <i class="fas fa-chevron-right action-1 f-18"></i>
                            </a>
                        </td>
                        <td class="align-middle f-18">{{ (product.products.price)|number_format(2, ',') }} €</td>
                        <td class="align-middle f-18">{{ ((product.products.price * product.quantities ))|number_format(2, ',') }} €</td>
                        <td class="align-middle">
                            <a href="{{ path('delete_to_cart', { 'id' : product.products.id }) }}">
                                <i class="fas fa-times text-danger f-18"></i>
                            </a>
                        </td>
                    </tr>
                    {% set totalQuantities = totalQuantities + product.quantities %}
                    {% set total = total + (product.products.price * product.quantities) %}
                {% endfor %}
                </tbody>
            </table>

            <div class="row flex-column">
                <a href="{{ path('remove_cart') }}" class="link col-xl-3 col-md-5 mb-50 action-1">
                    <i class="fas fa-times mr-5"></i>Vider mon panier
                </a>
                <div class="col-xl-3 col-md-5 text-left mb-5 align-self-end">
                    <b>Nombre de produit :</b> <span class="action-1">{{ totalQuantities }}</span><br/>
                    <b>TVA 19,6% :</b> <span class="action-1">{% set totalHT = total - (total*0.804) %}
                        {{ totalHT|number_format(2, ',') }} €</span><br/>
                    <b>Total de mon panier :</b> <span class="action-1">{{ total|number_format(2, ',') }} €</span>
                    <a href="{{ path('cart_newCommand') }}" class="btn btn-success btn-block mt-3 action-1">Valider mon panier</a>
                </div>
            </div>
    {% else %}
        <hr>
        <div class="text-center mt-50 mb-50">
            <i class="fas fa-box-open f-72 action-2"></i>
        </div>
        <h4 class="text-center mb-50">Votre panier est vide.</h4>
        <hr>
        <a href="{{ path('shop_index') }}" class="link action-2 mr-5"><i class="fas fa-chevron-left f-12 mr-5"></i>Retour au Shop</a>
    {% endif %}
</div>
{% endblock %}
