<div class="container">
    <br>
    <h2>Confirmation de commande</h2><br>
    <p>Félicitations <span class="action-2">{{ command.user.firstname }} {{ command.user.lastname }}</span> pour votre
        commande !<br><br>
        Nous vous remercions pour votre commande n°<strong class="action-2">{{ command.reference }}</strong>.<br>
        Une confirmation vient de vous etre envoyé par mail à l'adresse <strong
                class="action-2">{{ command.user.email }}</strong>.
    </p>
    <hr>
    <p>
        Votre commande sera livrée par <strong class="action-2">{{ command.carrier.name }}</strong> à l'adresse :
        <br><br>{{ command.address|raw }}.
    </p>
    <hr>
    <div class="order-summary">
        {% for key,product in cart %}
            <div class="row {% if key > 0 %}mt-2{% endif %}">
                <div class="col-2">
                    <img src="{{ asset('/uploads/images/'~ product.products.image) }}"
                         alt="{{ product.products.name }}"
                         height="100px">
                </div>
                <div class="col-8 my-auto">
                    {{ product.products.name }}
                </div>
                <div class="col-2 my-auto">
                    x {{ product.quantities }}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>