{% extends 'base.html.twig' %}
{% set current_page = "home" %}

{% block title %}Cognac Guy Bonnaud{% endblock %}

{% block body %}
    <!-- Flash Message -->
    <div class="row">
        <div class="col-md-6 mx-auto">
            {% for label, messages in app.flashes(['success', 'warning']) %}
                {% for message in messages %}
                    <div class="text-center alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <!-- Content -->
    <section class="pt-125 pb-105 bg-dark color-filter-dark-5" data-bg-src="{{ asset('assets/i/grapes-3550733.jpg') }}">
        <div class="container px-xl-0 text-center color-white">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <h2>
                        50 hectares de vignes sur des coteaux sud
                    </h2>
                </div>
                <div class="mt-35 col-xl-7 col-lg-8 col-md-10 f-22 text-adaptive">
                    L'exploitation de la famille Bonnaud s'étend aujourd'hui sur plus de 50 hectares de vignes idéalement situées sur des coteaux Sud, au coeur de la campagne verdoyante de Charente en zone d'appellation "fins bois".
                </div>
            </div>
        </div>
    </section>
    <!-- Blog 9 -->
    <section class="pt-100 pb-100 bg-light blog_9 container">

        <h3 class="text-center">Actualités</h3>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for actuality in actualities | slice(0, 3) %}
                <div class="col">
                    <div class="card mt-35">
                        <img
                                src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
                                class="card-img-top"
                                alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">{{ actuality.title }}</h5>
                            <p class="card-text">
                                {{ actuality.content }}
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Du : {{ actuality.start | date('d/m/y') }} au {{ actuality.end | date('d/m/y') }}</small>
                                <br>
                                <small class="text-muted">Adresse : {{ actuality.place }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row align-items-start flex-wrap">

                <h3 class="text-center mt-35">Nos meilleurs produits</h3>
                <div class="row align-items-start text-center">
                    {% for product in products | slice(0, 4) %}
                        <div class="mt-35 mb-35 col-md-3 col-sm-6 product">
                            <a href="{{ path('shop_product', {'id' : product.id, 'slug' : product.slug}) }}" class="link img_link">
                                <img src="{{ asset('uploads/images/' ~ product.image) }}" alt="{{ product.name }}"
                                     class="img-fluid h-200 radius10">
                            </a>
                            <a href="{{ path('shop_product', {'id' : product.id, 'slug' : product.slug}) }}"
                               class="link mt-15 d-block color-main f-18 text-uppercase semibold sp-20 title">
                                {{ product.name }}
                            </a>
                            <div class="mt-1 f-16 semibold sp-20 action-2 price">
                                {{ (product.price / 100)|number_format(2, ',') }} €
                            </div>
                            <a href="{{ path('shop_product', {'id' : product.id, 'slug' : product.slug}) }}" class="btn mt-15 sm action-1 medium f-16">
                                Voir &nbsp;<i class="far fa-hand-point-right"></i>
                            </a>
                        </div>
                    {% endfor %}
                </div>

        </div>

    </section>
    <!-- Testimonial 1 -->
    <section class="pt-80 pb-80 testimonial_1 bg-dark color-white">
        <div class="container px-xl-0">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-11">
                    <div class="hr bg-gray h-2">
                    </div>
                </div>
            </div>
            <div class="row pt-30 pb-50 inner">
                <div class="col-xl-2 col-lg-1">
                </div>
                <div class="col-md-1 col-sm-2">
                    <i class="fas fa-quote-left f-36 color-gray">
                    </i>
                </div>
                <div class="col-xl-7 col-lg-8 col-sm-10">
                    <div class="pt-10 f-22 text-adaptive">
{{ dump(randReview[0]) }}

                        <a href="/boutique/produit/{slug}_{id}">
                            <img src="{{ asset('uploads/images/'~randReview[0].product.image) }}" class="h-100 w-75" alt="{{ randReview[0].product.name }} image"></a>
                        {{ randReview[0].product.name }}<br><br>
                        {{ randReview[0].comment }}
                    </div>

                    <div class="mt-20 d-flex align-items-center author_info">
                        <img src="i/testimonial_1_img.jpg" alt="" class="radius_full">
                        <div class="ml-15 f-14 semibold text-uppercase sp-20">
                            {{ randReview[0].pseudo }}


                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-11">
                    <div class="hr bg-gray h-2">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
