{% extends 'base.html.twig' %}
{% set current_page = 'actualities_admin' %}
{% block admin %}{% endblock %}

{% block title %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
    <!-- reflexion class -->
    <div class="container">
        <h3 class="my-4 text-center">Liste des actualités</h3>
        <a href="{{ path('admin_actuality_create') }}" class="btn sm action-2 float-right text-capitalize mb-20">Créer une actualité</a>
        <div class="table-responsive mt-5">
            <table id="commandsTable" class="table text-center">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Modifier</th>
                </tr>
                </thead>
                <tbody>
                {% for actuality in actualities %}
                    <tr>
                        <td class="align-middle">{{ actuality.id }}</td>
                        <td class="align-middle">{{ actuality.title }}</td>
                        <td class="align-middle">{{ actuality.start | date('d/m/y') }}</td>
                        <td class="align-middle">{{ actuality.end | date('d/m/y') }}</td>
                        <td><a href="{{ path('app_admin_actuality_update', {'id' : actuality.id}) }}">
                                <i class="fas fa-pen action-2"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready( function () {
                $('#commandsTable').DataTable({
                    retrieve: true,
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.10.22/i18n/French.json'
                    }
                });
            } );
        </script>
    {% endblock %}

{% endblock %}


