{% extends 'base.html.twig' %}
{% set current_page = 'index_admin' %}
{% block admin %}{% endblock %}

{% block title %}Panel d'aministration{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="my-4 text-center">Panel d'aministration</h3>
        <div class="row justify-content-center">
            <div class="card col-md-3 col-sm-12 mx-5 mb-3 border">
                <div class="card-body">
                    <h5 class="text-center mb-4">Gestion des utilisateurs</h5>
                    <div class="row">
                        <div class="col-3 action-2" style="font-size: 30px">{{ usersCount }}</div>
                        <div class="col-9">Utilisateur(s) inscrit(s)</div>
                    </div>
                    <div class="text-center mt-2">
                        <a href="{{ path('admin_users') }}" type="button" class="btn sm action-2 f-14">Accéder</a>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 col-sm-12 mx-5 mb-3 border">
                <div class="card-body">
                    <h5 class="text-center mb-4">Gestion des commandes</h5>
                    <div class="row justify-content-center">
                        <div class="col-3 action-2" style="font-size: 30px">{{ commandsCount }}</div>
                        <div class="col-9">Commande(s) passée(s)</div>
                    </div>
                    <div class="text-center mt-2">
                        <a href="{{ path('admin_commands') }}" type="button" class="btn sm action-2 f-14">Accéder</a>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 col-sm-12 mx-5 mb-3 border">
                <div class="card-body">
                    <h5 class="text-center mb-4">Gestion des produits</h5>
                    <div class="row">
                        <div class="col-3 action-2" style="font-size: 30px">{{ productsCount }}</div>
                        <div class="col-9">produit(s) enregistré(s)</div>
                    </div>
                    <div class="text-center mt-2">
                        <a href="{{ path('admin_products') }}" type="button" class="btn sm action-2 f-14">Accéder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
