{% extends "base.html.twig" %}
{% set current_page = 'all_product_reviews' %}

{% block body %}

    <div class="container">
        <h3>Review #{{ reviews.id }}</h3>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="rating">
                    <span><i class="fas fa-star{{ reviews.rating > 0 ? ' action-2' : '' }}"></i></span>
                    <span><i class="fas fa-star{{ reviews.rating > 1 ? ' action-2' : '' }}"></i></span>
                    <span><i class="fas fa-star{{ reviews.rating > 2 ? ' action-2' : '' }}"></i></span>
                    <span><i class="fas fa-star{{ reviews.rating > 3 ? ' action-2' : '' }}"></i></span>
                    <span><i class="fas fa-star{{ reviews.rating > 4 ? ' action-2' : '' }}"></i></span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



