{% extends "base.html.twig" %}
{% set current_page = 'review' %}

{% block title %}Formulaire d'avis produit{% endblock %}

{% block stylesheets %}
   {{ parent()}}
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
{% endblock %}


{% block body %}

    <div class="container-fluid col-8">
        <h2 class="text-center mb-45 small">DONNEZ VOTRE AVIS | {{ product.name }}</h2>


        {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}

        <div class="mb-10 f-14 semibold text-uppercase sp-20">
            {{ form_row(form.rating) }}
        </div>

        <div class="mb-10 f-14 semibold text-uppercase sp-20">
            {{ form_row(form.comment) }}
        </div>

        <div class="mb-10 f-14 semibold text-uppercase sp-20">
            {{ form_row(form.pseudo) }}
        </div>

        <div class="col text-center">
            <button class="btn mr-20 mb-20 mb-xl-0 w-210 lg action-2 text-center">Envoyer</button>
        </div>
            {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const review_rating = document.querySelector('#review_rating');

        review_rating.addEventListener('change', e => {

            if(e.target.value > 4)
            {
                e.target.value = 5
            }
            if(e.target.value < 0)
            {
                e.target.value = 0
            }
        })
    </script>
{% endblock %}
