{% extends 'base.html.twig' %}
{% set current_page = 'shop' %}

{% block title %}Cognac Guy Bonnaud{% endblock %}

{% block body %}
    {% set current_category = app.request.get('alias') %}
    <section class="pt-100 pb-70 bg-light ecommerce_5">
        <div class="container px-xl-0">
            <div class="row relative zi-1">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9 d-flex flex-wrap justify-content-between align-items-baseline">
                    <div class="color-heading f-14 semibold text-uppercase sp-20 total">
                        <span class="action-1">{{ category.products|length }}</span> <small>Produit(s)</small>
                    </div>
                    <div class="sort_by">
						<span class="color-heading f-14 semibold text-uppercase sp-20">
							Classer par
						</span>
                        <div class="d-inline-block dropdown">
                            <a href="#" class="link action-1 f-14 semibold text-uppercase sp-20 dropdown-toggle"
                               id="ecommerce_5_dropdown" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                {% if app.request.pathInfo() == '/shop' %}
                                    Tous
                                {% else %}
                                    {{ current_category }}
                                {% endif %}
                            </a>
                            <div class="ml-0 bg-light px-0 pt-15 pb-15 radius16 dropdown-menu dropdown-menu-right"
                                 aria-labelledby="ecommerce_5_dropdown">
                                <div class="py-1 px-15 link_holder">
                                    <a href="{{ path('shop_index') }}" class="link action-1 semibold">
                                        Tout
                                    </a>
                                </div>
                                {% for c in categories %}
                                    {% if current_category != c.alias %}
                                        <div class="py-1 px-15 link_holder" >
                                            <a href="{{ path('shop_category', {'alias' : c.alias}) }}" class="link action-1 semibold">
                                                {{ c.name }}
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mt-35 col-lg-3 f-18 medium text-center text-lg-left categories">
                    {% include 'components/_filtre.html.twig' %}
                </div>
                <div class="col-lg-9 products">
                    <div class="row text-center">
                        {% for product in category.products %}
                            <div class="mt-35 mb-35 col-md-4 col-sm-6 product">
                                <a href="{{ path('shop_product', {'id' : product.id, 'slug' : product.slug}) }}" class="link img_link">
                                    <img src="{{ asset('uploads/images/'~ product.image) }}" alt=""
                                         class="img-fluid h-400 radius10">
                                </a>
                                <div class="row" style="min-height: 125px; align-content: center">
                                    <a href="{{ path('shop_product', {'id' : product.id, 'slug' : product.slug}) }}"
                                       class="link mt-15 d-block color-main f-18 text-uppercase semibold sp-20 title">
                                        {{ product.name }}
                                    </a>
                                </div>
                                <div class="mt-1 f-16 semibold sp-20 action-2 price">
                                    {{ (product.price / 100)|number_format(2, ',') }} €
                                </div>
                                <a href="{{ path('shop_product', {'id' : product.id, 'slug' : product.slug}) }}" class="btn mt-15 sm action-1 medium f-16 text-capitalize">
                                    Afficher le Produit
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

