{% extends "base.html.twig" %}

{% block body %}

    <div class="container-fluid">
        <h2 class="">DONNER VOTRE AVIS</h2>
    {# form_row(formproduct.name)#}

        {{ form_start(form) }}

        {{ form_row(form.rating, {'attr': {'label': "Note Générale"}}) }}
        {{ form_row(form.comment, {'attr': {'label': "Commentaire", 'placeholder': "Votre commentaire"}}) }}
        {{ form_row(form.pseudo, {'attr': {'label': "Pseudo", 'placeholder': "ex: Pierre D."}}) }}

        <button class="btn action-2 md radius30">Enregister</button>

        {{ form_end(form) }}

    </div>
{% endblock %}