<nav class="pt-30 pb-30 bg-light text-center navigation_1">
    <div class="container-fluid px-5">
        <div class="row justify-content-center align-items-center f-18">
            <div class="mb-20 mb-lg-0 col-lg-3">
                <a href="{{ path('default_index') }}" class="link color-main f-32 bold megrim">
                    <i class="fal fa-wine-glass-alt action-2"></i> Cognac Gu<span class="action-2">y</span> Bonnaud
                </a>
            </div>
            <div class="col-lg-6">
                <a href="{{ path('default_index') }}" class="link mx-15{% if current_page == "home" %} action-2{% else%} color-main{% endif %}">
                    Accueil
                </a>
                <a href="#" class="link mx-15{% if current_page == "actu" %} action-2{% else%} color-main{% endif %}">
                    Actualités
                </a>
                <a href="#" class="link mx-15{% if current_page == "history" %} action-2{% else%} color-main{% endif %}">
                    Notre histoire
                </a>
                <a href="{{ path('shop_index') }}" class="link mx-15{% if current_page == "shop" %} action-2{% else%} color-main{% endif %}">
                    Shop
                </a>
                <a href="#" class="mx-15 link color-main">
                    <i class="fas fa-search action-2">
                    </i>
                </a>
            </div>
            <div class="mt-20 mt-lg-0 col-lg-3 d-flex flex-wrap justify-content-center align-items-center">
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_dashboard') }}" class="link mr-20{% if current_page == "index_admin" %} action-2{% else%} color-main{% endif %}">
                    Administration
                </a>
                {% endif %}
                {% if not is_granted('ROLE_USER') %}
                <a href="{{ path('user_create') }}" class="link mr-20 color-main">
                    S'inscrire
                </a>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                <a href="{{ path ('default_profil', {'id' : user.id}) }}" class="link mr-20 color-main">
                    Mon profil <small>({{ app.user.firstname }})</small>
                </a>
                {% endif %}
                {% if not is_granted('ROLE_USER') %}
                <a href="{{ ('/login') }}" class="btn mr-20 sm action-2 f-16">
                    S'identifier
                </a>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                <a href="{{ ('/logout') }}" class="btn mr-20 sm action-2 f-16">
                    Se déconnecter
                </a>
                {% endif %}
                <a href="{{ path('cart') }}">
                    <i class="fas fa-shopping-cart color-main f-28"></i>
                </a>
            </div>
        </div>
    </div>
</nav>
