{% extends 'base.html.twig' %}
{% set current_page = "edit-profil" %}
{% block title %}
    Mon profil
{% endblock %}
{% block body %}
    <section class="bg-light form_2">
        <div class="container px-xl-0">
            <div class="row justify-content-center text-center text-md-left">
                <div class="col-lg-5 col-md-6 col-sm-10">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <h2 class="mb-45 small">
                        Mes informations
                    </h2>
                    <div>
                        <div class="mb-10 f-14 semibold text-uppercase sp-20">
                            {{ form_label(form.lastname, 'Votre Nom') }}
                        </div>
                        {{ form_errors(form.lastname) }}
                        {{ form_widget(form.lastname) }}
                        {{ form_help(form.lastname) }}
                    </div>
                    <br>
                    <div>
                        <div class="mb-10 f-14 semibold text-uppercase sp-20">
                            {{ form_label(form.firstname, 'Votre prénom') }}
                        </div>
                        {{ form_errors(form.firstname) }}
                        {{ form_widget(form.firstname) }}
                        {{ form_help(form.firstname) }}
                    </div>
                    <br>
                    <div>
                        <div class="mb-10 f-14 semibold text-uppercase sp-20">
                            {{ form_label(form.address, 'Votre adresse') }}
                        </div>
                        {{ form_errors(form.address) }}
                        {{ form_widget(form.address) }}
                        {{ form_help(form.address) }}
                    </div>
                    <div>
                        <div class="mb-10 f-14 semibold text-uppercase sp-20">
                            {{ form_label(form.postal_code, 'Votre code postal') }}
                        </div>
                        {{ form_errors(form.postal_code) }}
                        {{ form_widget(form.postal_code) }}
                        {{ form_help(form.postal_code) }}
                    </div>
                    <div>
                        <div class="mb-10 f-14 semibold text-uppercase sp-20">
                            {{ form_label(form.city, 'Votre Ville') }}
                        </div>
                        {{ form_errors(form.city) }}
                        {{ form_widget(form.city) }}
                        {{ form_help(form.city) }}
                    </div>
                    <div>
                        <div class="mb-10 f-14 semibold text-uppercase sp-20">
                            {{ form_label(form.phone, 'Votre téléphone') }}
                        </div>
                        {{ form_errors(form.phone) }}
                        {{ form_widget(form.phone) }}
                        {{ form_help(form.phone) }}
                    </div>
                    <div class="mt-25 d-flex flex-wrap align-items-center buttons">
                        <button class="btn mr-20 mb-20 mb-xl-0 w-210 lg action-2">
                            Enregistrer
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-lg-6 col-md-5 d-none d-md-block overflow-hidden img_holder">
                    <img src="" alt="" class="h-full absolute img-fluid" srcset="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

